<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Assignment 2</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous"></head>
<body>
<header class="p-3 bg-dark text-white">
  <a href="/" class="btn text-white">Home</a>
  <a href="/membersarea" class="btn text-white">Members area</a>
  <a href="/admin" class="btn text-white">Admin</a>
  <a href="/doesnotexist" class="btn text-white">404</a>
</header>