<%- include('partials/header');%>
<%-html%>
<div class="d-flex justify-content-center">
  <button class="btn btn-primary" onclick="history.back()">Go Back</button>
</div>
<%- include('partials/footer');%>
