Hello <%=username %>
<form method="get" action="/membersarea">
  <button type="submit">Go to members area</button>
</form>
<form method="get" action="/logout">
  <button type="submit">Log out</button>
</form>
