<%- include('partials/header');%>
<div class="container w-25">
  <form method="get" action="/login" class="justify-content-center row">
  <button type="submit" class="btn btn-primary my-3">Log in</button>
</form>
<form method="get" action="/signup" class="justify-content-center row">
  <button type="submit" class="row btn btn-primary my-3">Sign up</button>
</form>
</div>
<%- include('partials/footer');%>
