<%- include('partials/header');%>
<div class="container justify-content-center w-25 text-center">
You are logged out.
<form class="row justify-content-center" method="get" action="/">
  <button type="submit" class="btn btn-primary">Home page</button>
</form>
</div>
<%- include('partials/footer');%>
