<%- include('partials/header')%>
<div class="container w-50 justify-content-center">
  <div class="row">
    <div class="col">
    <img class="row" src="/847.png" class="img-fluid d-block mx-auto my-auto" style="max-width: 300px" />
  <img
    class="row"
    src="/ungovernable.jpeg"
    class="img-fluid d-block mx-auto"
    style="max-width: 300px"
  />
  </div>
  <img class="col" src="flowchart.png" class="img-fluid d-block my-auto" style="max-width: 300px" />
  <form method="get" action="/" class="text-center">
    <button class="btn btn-primary align-center" type="submit">Go Home</button>
  </form>
  </div>
  <%- include('partials/footer')%>
</div>
