<%- include('partials/header');%>
<div class="container w-25 justify-content-center">
  <%- image %>
  <form method="get" action="/" class="text-center">
    <button class="btn btn-primary align-center" type="submit">Go Home</button>
  </form>
  <%- include('partials/footer');%>
</div>
