<%- include('partials/header');%>
<form action="/submitUser" method="post" class="container d-grid w-25 justify-content-center row-gap-3">
  <h1>log in</h1>
  <input name="username" type="text" placeholder="username" class="row form-control"/>
  <input name="email" type="text" placeholder="email" class="row form-control"/>
  <input name="password" type="password" placeholder="password" class="row form-control"/>
  <button class="btn btn-secondary">Submit</button>
</form>
<%- include('partials/footer');%>
